
@{
    ViewBag.Title = "Index";
}
@model TeamBins.Common.ViewModels.SettingsVm
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Password</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Issue settings</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Notifications</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            @Html.Partial("~/Views/Settings/Partials/EditProfile.cshtml",Model.Profile)
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            @Html.Partial("~/Views/Settings/Partials/Password.cshtml",Model.PasswordChange)
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            @Html.Partial("~/Views/Settings/Partials/Settings.cshtml",Model.IssueSettings)
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            @Html.Partial("~/Views/Settings/Partials/NotificationSettings.cshtml",Model.NotificationSettings)
        </div>
    </div>

</div>


