@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found !</title>
</head>
<body>
    <h2>
        Sorry ! The item you were looking for is not available :(
    </h2>
</body>
</html>