@{
    ViewBag.Title = "Welcome to team";
}
<div class="accountcreated">
    <h2>Bingo ! You made it !</h2>
    <p>
        You may now actively participate in the activities of this team.
    </p>
    @Html.ActionLink("Take me to the dashboard", "index", "dashboard")
</div>
