@{
    ViewData["Title"] = "About";
}
<h3>What is TeamBins ? </h3>

<p>
    TeamBins is a free web-based project management system developed using ASP.NET MVC framework. TeamBins can run on IIS and almost any browser should be able to function as a client.
</p>
<p>
    See the <a href="http://www.teambins.com/dashboard/teambinsdev">live dashboard view</a> of teambins dev team
</p>
<p>Hit us on twitter(<a href="https://twitter.com/teambins">@@teambins</a>) for any questions</p>