@{
    ViewBag.Title = "TeamBins Project Management & Issue Tracking Tool";
}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="logo"></span></a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">

                <a href="@Url.Action("login","account")" class="btn btn-success">Sign in</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron issueHomeBg">
    <div class="container">
        <h1>Manage your projects with TeamBins</h1>
        <p>TeamBins is a free web-based project management system developed using ASP.NET MVC framework. TeamBins can run on IIS and almost any browser should be able to function as a client.</p>
        <p><a href="@Url.Action("about")" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
            Or see the <a href="http://www.teambins.com/dashboard/teambinsdev">live dashboard</a> view of teambins dev team
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <img src="https://camo.githubusercontent.com/e5da3fea77aec34dd4f2e40c4471b26ce889c914/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f3134343436392f323130303537312f66616631343563342d386634392d313165332d383132352d6237383162356434633532662e706e67"/>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Bug Tracking</h2>
            <p>Tracking your bugs with TeamBins is simple as long as you know how to use facebook or gmail !</p>

        </div>
        <div class="col-md-4">
            <h2>Planning</h2>
            <p>Proper planning and communication is an essential thing in every software project an teambins make it easy for you. </p>

        </div>
        <div class="col-md-4">
            <h2>Collaboration</h2>
            <p>TeamBins allows your team to work as a REAL TEAM with collaborative features.</p>

        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; TeamBins is an open source project dedicated to the community.</p>
    </footer>
    <div>
        Follow us on twitter to get instant updates about teambins <a href="http://www.twitter.com/teambins">@@teambins</a>
    </div>
</div> <!-- /container -->
