@{
    ViewBag.Title = "Account Created";
}
<div class="accountcreated">
    <h2>Bingo ! Your account is successfully created</h2>
    <p>
        You may now create a project and start doing cool stuff :)
    </p>
    @Html.ActionLink("Create a Project", "Index", "Projects")
</div>