@model TechiesWeb.TeamBins.ViewModels.ProjectDetailsVM
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>


<div id="modal" class="modal fade"></div>

<script type="text/javascript">
    $(function () {

        //Show popup on clicking the link
        $(document).on("click", "a.aPopup", function (e) {
            e.preventDefault();
            var _this = $(this);
            $('#modal').modal({ remote: _this.attr("href") });
        });
        $(document).on("click", "#btnSaveProjectMember", function (e) {
            e.preventDefault();
            var _this = $(this);
          
            $.post(_this.closest("form").attr("action"), _this.closest("form").serialize(), function (res) {
                if(res.Status==="Success")
                {
                    window.location.href = window.location.href;
                }
            });

        });
    });
    </script>