@{   
    ViewBag.Title = "Error";
}
<div class="divPageContent">
    <div>
        <h2>Issue not found.</h2>
        <p>This issue may be private. If someone gave you this link, they may need to invite you to the team where this issue belongs to.</p>
    </div>
</div>
