<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TeamBins6</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div>
        @await Component.InvokeAsync("MenuHeader",1)
        @*@Html.AlertMessages()*@
        <div class="content">
            <div class="central">
                @RenderBody()
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.js"
            asp-fallback-test="window.jQuery">
        
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>


<script type="text/javascript">

    var teamBins = teamBins || {};
    teamBins.urls = teamBins.urls || {};
    teamBins.urls.baseUrl = '@ViewBag.AppBaseUrl';

    var issueListApp = angular.module('teamBins', ['ngSanitize']);
    issueListApp.value("appSettings", teamBins);

    function ShowModel(url, title) {
        $("#modal").remove();
        $.get(url, function (data) {
            $('<div id="modal" class="modal fade">' + data + '</div>').modal();
        });
    }
    $(function () {
        $(document).on("click", "a.popup", function (e) {
            e.preventDefault();

            ShowModel($(this).attr("href"));
        });

        //$("a.team-item").click(function(e) {
        //    e.preventDefault();
        //});


        $("a.a-current-team").click(function (e) {
            e.preventDefault();
            var _this = $(this);
            if (_this.data("state") === "selected") {
                $("#available-teams").fadeIn(100);
                _this.data("state", "expanded");
            }
            else {
                $("#available-teams").fadeOut(100);
                _this.data("state", "selected");
            }
        });
        setTimeout(function () { $('#success-message').slideUp(300); }, 6000);


    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
