@using System.Threading.Tasks
@model TeamBins.Common.ViewModels.ForgotPasswordVm
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}

<div class="signUpContainer">
    <h1>Lost password ?</h1>
    <div class="divCenterMsg">You forgot your password? No problem. Give us your email address and we'll send you a message with some simple instructions to reset it.</div>
    <div class="divSignUp">
        <form asp-action="forgotPassword" asp-controller="Account" method="post">
            <table class="tblEntry register">
                <tr>
                    <td>
                        <div asp-validation-summary="All"></div>
                    </td>
                </tr>
                <tr>
                    <th>Your Email</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" asp-for="Email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="btnPasswordReset" value="Reset Password" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("#btnPasswordReset").click(function(e) {
                    if ($("#Email").val() !== "") {
                        $(this).attr("value", "Requesting..").addClass("btn-disabled");
                    }
                });
        });
    </script>

}
