@model TeamBins.Common.ViewModels.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}
<div class="signUpContainer">
    <h1>Login</h1>
    <div class="divSignUp">
        <form asp-action="Login" asp-controller="Account" id="loginForm" method="post">
            <table class="tblEntry register">
                <tr>
                    <td>
                        <div asp-validation-summary="All"></div>
                    </td>
                </tr>
                <tr>
                    <th>Your Email</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" asp-for="Email" />
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>
                        <input type="password" asp-for="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="btnLogin" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="registerLinks">
            <a asp-acion="forgotpassword" asp-controller="account">Forgot Password ?</a>
            <a asp-acion="join" asp-controller="account">Register Account</a>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#loginForm").submit(function (e) {
                var $form = $(this);
                if ($form.valid()) {
                    $("#btnLogin").attr("value", "Logging in...").addClass("btn-disabled");
                }
            });
        });
    </script>
}
