
@{
    ViewBag.Title = "ResetPassword";
}
@using System.Threading.Tasks
@model TeamBins.Common.ViewModels.ResetPasswordVM
<div class="signUpContainer">
<h1>Reset password</h1>
<div class="divCenterMsg">Enter a new password for your teambins account. </div>
    <div class="divSignUp">
        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <table class="tblEntry register">

                <tr>
                    <td>
                        <div asp-validation-summary="All"></div>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>
                       <input type="text" asp-for="Password" />
                    </td>
                </tr>
                <tr>
                    <th>Confirm Password</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" asp-for="ConfirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Update Password" />
                    </td>
                </tr>
            </table>
            <input type="hidden" asp-for="ActivationCode" />
        </form>
       

    </div>
</div>
