@model SmartPlan.ViewModels.DashBoardVM
@{
    ViewBag.Title = "Dashboard";
}
<div class="dbItemContainer">
<div class="dashboardItem">
<h4>Projects</h4>
<table>
@foreach (var project in Model.Projects)
{
    <tr>
        <td>@Html.ActionLink(project.Name, "Index", "Project", new { id = project.ID }, null)</td>              
    </tr>
}
</table>      
</div>
</div>
<div class="dbItemContainer">
<div class="dashboardItem">
<h4>Recent Issues</h4>
<table>
@foreach (var issue in Model.RecentIssues)
{
    <tr>
        <td>@Html.ActionLink(issue.Title, "details", "Issues", new { id = issue.ID }, null)</td>
    </tr>
}
</table>    
</div>
<div class="dashboardItem">
<h4>Issues assigned to me</h4>
<table>
@foreach (var issue in Model.IssuesAssignedToMe)
{
    <tr>
        <td>@Html.ActionLink(issue.Title, "details", "Issues", new { id = issue.ID }, null)</td>
    </tr>
}
</table>    
</div>
</div>
<div class="dbItemContainer">
<div class="dashboardItem">
<h4>Recent Activity</h4>
<table>
@foreach (var issue in Model.IssuesAssignedToMe)
{
    <tr>
        <td>@Html.ActionLink(issue.Title, "details", "Issues", new { id = issue.ID }, null)</td>
    </tr>
}
</table>    
</div>
<div class="dashboardItem">
<h4>TeamBins news</h4>
<p>No news now</p>   
</div>
</div>