
@model TeamBins.Common.ViewModels.EmailSubscriptionVM
<tr>
    <td>@Model.Name</td>  
    <td>
    @Html.CheckBoxFor(x => x.IsSelected) <br />
    @Html.HiddenFor(x => x.NotificationTypeID)
    </td>
</tr>