@{
    ViewBag.Title = "Welcome to team";
}
<div class="accountcreated">
    <h2>Bingo ! You made it !</h2>
    <p>Go to your <a href="@Url.Action("Index","Settings")" target="_blank">profile settings page</a> and set a default project so that things will be easy for you.</p>
    <p>
        You may now actively participate in the activities of this team.
    </p>
    @Html.ActionLink("Take me to the dashboard", "index", "dashboard")
</div>
