@model TeamBins.Common.ViewModels.IssueDetailVM
<h4>Assigned To</h4>
<div id="memberList">
    <div class="issueMember" ng-repeat="member in vm.members" ng-mouseenter='vm.hover(member)' ng-mouseleave="vm.hover(member)">
        <img class="memberAvatar" ng-src="{{ member.AvatarHash}}?size=25" />
        <h5>{{member.Name}}</h5>       
        @if(Model.IsEditableForCurrentUser)
        {
        <span ng-show="isEditableForCurrentUser">
            <a class="aRemove hiddenchangelink" ng-show='vm.member.ShowDelete' ng-click="vm.removeIssueMember(@Model.ID,member,$event)" href="">remove</a>
        </span>
        }
    </div>
    <p id="pNoData" ng-hide="members.length"> No Members assigned to this issue yet</p>
    </div>
@if(Model.IsEditableForCurrentUser)
{
    <h4>Assign New Member</h4>
    <input id="txtAssignMember" value="" />
}
<script type="text/javascript">
var addMemberToIssueUrl = "@Url.Action("AddMember","Issues")";
var issueMembersUrl = "@Url.Action("IssueMembers","Issues")";
</script>
