@{
    ViewBag.Title = "Email Settings";
}
@using TechiesWeb.TeamBins.HelperMethods
@model TechiesWeb.TeamBins.ViewModels.UserEmailNotificationSettingsVM
<div class="page">
    <h2>Notification setttings</h2>
   
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li><a href="@Url.Action("editProfile","account")">Profile</a></li>
            <li><a href="@Url.Action("password","account")">Password</a></li>
            <li><a href="@Url.Action("settings","account")">Default Issue Settings</a></li>
            <li class="active"><a href="#">Notification Settings</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">             
                @using (Html.BeginForm())
                {
                    <h4>Send an email to me when </h4>
                    <table id="tbl-notificaton-settings">
                        @Html.EditorFor(m => m.EmailSubscriptions)                        
                        <tr>
                            <td><button type="submit" class="btn btn-primary">Save</button></td>
                            <td>
                               
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

