
@{
    ViewBag.Title = "ResetPassword";
}
@model TechiesWeb.TeamBins.ViewModels.ResetPasswordVM
<div class="signUpContainer">
<h1>Reset password</h1>
<div class="divCenterMsg">Enter a new password for your teambins account. </div>
<div class="divSignUp">
@using(Html.BeginForm())
{
<table class="tblEntry register">

    <tr>
        <td>
            @Html.ValidationSummary()
        </td>
    </tr>   
    <tr>
        <th>Password</th>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(x=>x.Password)
        </td>
    </tr> 
    <tr>
        <th>Confirm Password</th>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(x=>x.ConfirmPassword)
        </td>
    </tr> 
    <tr>
        <td>
            <input type="submit" value="Update Password" />
        </td>
    </tr>
</table>
@Html.HiddenFor(s=>s.ActivationCode)
}

</div>
</div>
