@model TeamBins.Common.ViewModels.TeamVM
@{
    ViewBag.Title = "Team";
}

<h2>@Model.Name</h2>
<div>
    @if (Model.IsPublic)
    {
        <h5>Public</h5>
        <span>This team board is publicly visible to everyone</span>
    }
    else
    {
        <h5>Private</h5>
        <span>Visible to only team members</span>
    }
    <a asp-action="ChangeVisibility" asp-controller="Team" data-modal-titles="Change visibility" class="popup" asp-route-id="@Model.Id">Change</a>
</div>
@section Scripts
{
    <script>

        $(function () {
            $(document).on("click", "#btnSaveTeamVisibility", function (e) {
                $.post($(this).closest("form").attr("action"), $(this).closest("form").serialize(), function (res) {
                    if (res.status === "Success") {
                        window.location.href = window.location.href;
                    } else {
                        alert("Error updating visibility!");
                    }
                });
                return false;
            });
        })
    </script>
}

