body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:0px; padding:0px;

    background: none repeat scroll 0 0 #F4F6F6;
    color: #666666;
	 font-family: "Segoe UI",Tahoma,arial,sans-serif;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}
a {
    color:#1972CD; text-decoration:none;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.header {
    height:32px; border-bottom:1px solid #B3B3B3;
   background-color:#373737; overflow:auto;
}
.content {
    padding:10px; min-height:500px; height:100%;
}
.tblGrid {
    width:100%; margin:0px; padding:0px;
    border-spacing:0;
  border-collapse:collapse;
}
table {
    margin:0px; padding:0px;
    border-spacing:0;
  border-collapse:collapse;
}
	table th
	{
		text-align:left;
	}
.tblGrid th {
    background-color:#9AC9E2; color:#000033;
    }
.tblform th{
    text-align:left;
}
.tblGrid td {
    padding:3px; padding-left:5px;padding-right:4px;
}
.tblform tr,.tblform td{
    margin:0px;
}
.tblform input[type='text'],.tblform textarea {
    width:100%; padding:3px;
}
.tblSub {
    width:100%;
}
.tblSub select{
    width:220px; margin-right:10px;
}
table.register input[type='text'],input[type='password']
{
	padding:4px; width:420px; margin-bottom:10px; font-size:20px;
}
table.register th
{
	font-size:18px;
}
.divSignUp
{
	
	width:600px; height:340px;
}

input[type='submit'],input[type='button'] {
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px 2px 2px 2px;
   
    font-size: 15.5px;
    padding: 6px 11px;
    
}
.central {
    margin:10 auto;min-height:500px; height:100%;
       
    padding:0px; padding-top:0px;
	background-color:white;
}
.centralNonWhite
{
	background-color:#F4F6F6;
}
.divPageContent {
    padding-top:10px; overflow:auto;
}
div.centralHead{
    margin:0px;  background-color:#E9E9E9;padding:1px; padding-left:4px; 
}
.central h2 {
     margin:0px;padding:1px; padding-left:4px; margin-bottom:8px; margin-top:3px; 
}
.divAttach {
    min-height:30px;
}
.divAttach h5{
    margin:0px;
}
.trOdd {
     background-color:white;
}
.trEven {
    background-color:#EBF0F4;
}
.divLeft {
    width:70%; border-right:1px solid #D7D7D7; float:left;

}
.divRight {
    width:29%; float:left;
}
.divToobar {

    background-color:#E9E9E9; padding:3px; text-align:right;
}
a.toolLink {
   padding-right:4px; padding-left:2px;
}
.divDetail {
    background-color:#F1F1F1;
    padding:10px; padding-left:0px;
    padding-right:0px;
}
.divDescr {
    background-color:white; padding:12px;
    min-height:30px;
}
.divForm {
    padding:10px;
}
.DescrTxtArea {
    height:200px;
}
#issueStatus
{
    margin-right:1px;  float:right;
    padding-right:15px; 
   padding:5px;
}
    #issueStatus span
    {
        font-weight:bold;
           padding:8px; padding-top:2px;padding-bottom:2px;
    }
span.New
{
    background-color:#F1FB9A;
    border:1px solid #AACF39;
}
span.InProgress,span.Progress
{
    background-color:#74B9EE;
    border:1px solid #3A82B5; color:white;
}
span.Completed
{
    background-color:#A5FE9F;
    border:1px solid #74C096;
}
span.Closed
{
    background-color:#229A5A;
    border:1px solid #3A82B5;
    color:white;
}
div#issueMeta
{
    width:100%;  overflow:auto;
}

.authorInfo {
    padding:10px; float:left; padding-top:5px;
}
.detailImg {
    width:98%;
}
.logo
{
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	display: block;
	height: 30px;
width: 100px;
}
a.header-logo
{

}
.divSignUp
{
	margin:10px;margin:0 auto; margin-top:24px;
}
.signUpContainer
{
	width:700px; margin:0 auto;
	 background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    margin-top: 50px; padding:24px;
}
h1
{ color: #222222;

    font-size: 42px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 5px;
}
.signUpContainer h1
{
	text-align:center; border-bottom:1px solid #DAE1E3;
}
table.register
{
	margin:0 auto;
}


.tblform input[type='submit'],input[type='button'] 
{
	font-size:12px; padding:5px;
}
.tblform td,.tblform th
{
	padding-bottom:6px;
}
.tblform th
{
	padding-right:6px;
}
div.divCenterMsg
{
    width:460px;
    background-color:#F8FAFC; margin:0 auto; padding:10px;

}
div#quick_create
{
    
    font-size: 12px;
    padding: 10px;
    width: 100%; padding-left:0px; padding-right:0px;
    padding-bottom:3px;
  
}
div#quick_create input
{
 border:1px solid gray; 
   
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
   
    line-height: 20px;
   padding: 6px 6px 5px 5px;
  width: 100%;
  border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

    font-weight:bold;
     
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

            background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
div#default_items
{
    float: right;
    margin-right: 35px;
    margin-top: -35px;
}
div.default_item
{
    border: 1px solid transparent;
    height: 20px; width: 20px;
    line-height: 20px;
    padding: 0 5px;
    border: 1px solid transparent;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}


div#quick_create input:focus
{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#rightPanel
{
   padding: 0 8px;
    position: absolute;
    right: 0;   
    width:18%;
	min-height:400px;

}
#leftContentPane
{
    float:left;
     width:80%;min-height:400px;
   }
input.sleekInput
{
     border:1px solid gray; 
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 20px;
   padding: 6px 6px 5px 5px;
  width: 100%;
  border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

    font-weight:bold;
     
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

            background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.leftSideForm
{
    width:60%;
}
.imgHolder img
{
    border:2px solid white; margin:0px auto; vertical-align:central; text-align:center; display: block;
    margin: 0 auto;
}
div#createEditMode
{
    float:right;
    margin-bottom:8px;
    
}
#changeLabel
{
    float:left; padding-right:6px;
}
.onoffswitch {
    position: relative; width: 61px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; float:left;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 13px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 13px; padding: 0; line-height: 13px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 13px;
    box-shadow: 0px 6.5px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #4B4F4F; color: #FCFCFC;
    border-radius: 13px 0 0 13px;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right:7px;
    background-color: #4B4F4F; color: #999999;
    text-align: right;
    border-radius: 0 13px 13px 0;
}
.onoffswitch-switch {
    width: 13px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 13px;
    position: absolute; top: 0; bottom: 0; right: 44px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
div#members, div#dueDate
{
    margin:10px; margin-top:0px;
}
input#assignMember
{
    width:80% !IMPORTANT;
}

.comboMember
{
    height:48px; padding:2px;
}
    .comboMember img
    {
        float:left;
    }
    .comboMember h3,.comboMember p
    {
        margin:0px; padding-left:55px;
    }
img.memberAvatar
{
    float:left;
}
div.issueMember
{
    height:26px; margin-bottom:4px;
}
div.issueMember h5
{
margin:0px; padding-left:4px; font-size:12px;
display:inline-block; 
}
div#dueDate h4
{
     margin-bottom:10px;margin-top:1px;

}
div#members,div#dueDate
{
   background-color:#F7F7F7; padding:10px; padding-top:5px;
   
}
div#members h4
{
    margin-bottom:10px;margin-top:1px;
}
#attachmentHolder
{
    background-color:white;
}
#attachmentHolder h5,#attachmentHolder ul
{
    margin:2px;
}
#pNoData
{
    font-style:italic; color:gray;
}
#newComment
{  font-size: 14px; padding:5px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.commentItem
{
    padding:10px; overflow:auto;
        border:1px solid #DEDEDE; margin-bottom:10px;
        margin:10px;
         border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color:#FEFEFE;
}
#comments
{

}
.commentItem img
{
    float:left;
}
.commentItemBody
{
    padding-left:54px;
}
.commentItemBody p
{
   color: #000000;
  
  
    padding: 0px 0px; margin-top:0px; margin-bottom:0px;
}
.cmntAuthorName
{
    font-size: 14px;
    font-weight: bold;
    padding: 10px; padding-left:2px;
}
.commentmetadata
{
    font-size:13px; font-style:italic;
}
.avatarHolder
{
    float:left; width:70px;
}
#addComment
{
    margin:10px;
   
}
a.hiddenChangeLink
{
    display:none; margin-left:2px;
}
div.activity-item
{
	font-size:13px;border-bottom: 1px solid #dcdcdc; min-height:30px;
}
p.activity-date
{
	font-size:11px; margin:1px;
}
a.activity-name,a.activity-author
{
	font-weight:bold; color:black;
}
div#activityStream
{
	background-color:white; padding-left:4px;padding-right:4px;
}
	div#activityStream h3
	{
		margin:0px; margin-bottom:3px;
	}
table.modelTblFull
{
	width:100% !IMPORTANT;
}
table.modelTblFull input[type='text']
{
	width:95%;
}
div.success
{
	  color: black;
    background-color:#ECFAE3; padding:4px;
	  border: 1px solid #5BCF5D;
    margin: 10px 0px;
  
    background-repeat: no-repeat;
    -moz-border-radius:.5em;
-webkit-border-radius:.5em;
border-radius:.1em;
}
div.error
{
	  color: #D8000C;
    background-color: #FFBABA; padding:4px;
	  border: 1px solid;
    margin: 10px 0px;
  
    background-repeat: no-repeat;
    -moz-border-radius:.5em;
-webkit-border-radius:.5em;
border-radius:.1em;
}
ul#projList
{
	width:400px; 
	border-top:1px solid #DFDFDF;
	padding:0px;
	margin-left:3px;
}
ul#projList,ul#projList li
{
	list-style:none; overflow:auto;
}
ul#projList li
{
	min-height:20px; margin:0px;background-color:#F9F9F9;
	border-bottom:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;border-left:1px solid #DFDFDF;
}
a.listItem
{
	
display: block;
padding: 6px 0px 6px 8px;

text-decoration: none; 
}
	

ul#projList
{
}
div.liEdit
{
	width:20%; float:left; text-align:right;
}
div.liContent
{
	width:78%; float:left;
}
div.deleteMeta
{
	font-size:12px;
	background-color:#FFFBCC; padding:3px; border:1px solid #E6DB55; color:#555;
}
div.pageContent
{
	padding:4px;
}
a.delete
{
	color:#BC0B0B;
}

a.delete:hover
{
	color:#FF0000;
}
div.dashboardItem
{
	padding:3px;
	border:1px solid #76a7fa;
	overflow:auto; border-top: 8px solid #76a7fa;border-bottom: 1px solid #76a7fa;
	margin:10px;
}
	div.dashboardItem ul
	{
		list-style:none;
	}
	div.dashboardItem h3
	{
		margin:0px;
	}
    .iterations
    {
        overflow:auto;
    }
ul.navtab
{
	list-style:none;	
    overflow:auto; margin:0px;padding: 5px 16px !IMPORTANT;
}
ul.navtab li
{
	display: list-item; float:left;
}
a.aIteration
{
background-color: #99CB38;
color: white;
padding: 6px 16px 6px 16px !IMPORTANT;
line-height: 13px;
border: 1px solid gray;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
a.aIteration:hover
{
    text-decoration:none;
    background-color:#348e2d;color: white;
}
.navbar-inner.toolbar {
    background-color: #FAFAFA;
}
.navbar-inner {
    background-color: #027FF4;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
}
.navbar .nav > li.toolbaritem > a {
    color: #000000;
    font-weight: bold;
    text-shadow: none;
}
.navbar .nav > li > a {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: none;
}
.navbar-inner {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.toolbaritem {
    float:left;
}
.navbar .nav > li {
    cursor: pointer;
}
.navigation {
    padding-left:200px; float:left;
    padding-top:6px; color:white;
}
.navigation a{
    color:white; font-weight:bold; margin-right:12px;

}
.navigation a:hover{
    color:#7cdc1c;

}
.header
{
    overflow:auto;
}
.headerLeft
{
    float:left;
}
.userInfo {
    float:right;
    padding-right:20px; padding-top:4px; color:white;
}
.aLogout
{
    color:wheat; font-size:12px;
}
.userInfo a
{
 color:white; 
}
.userInfo a:hover
{
 color:#9dfce5; 
}
.registerLinks
{
    width:230px; margin:0 auto;
}
.accountcreated
{
    padding:10px;
     background: none repeat scroll 0 0 #f8e655;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 50px auto 25px;
    padding: 24px;
    width: 700px;
}
.tab-content
{
    padding-top:10px;
}
.right-detail-items {
    background-color: #F7F7F7;
    padding: 5px 10px 10px;
     margin: 0 10px 10px;

}
.issue-detail-item {

}
.important {
    font-size:22px;
}

.issue-icon-Feature {
    background-image: url(images/feature-icon.png);
    background-repeat: no-repeat;
    display: block;
    height: 24px;
    width: 24px;
}
.issue-icon-Bug {
    background-image: url(images/bug-icon.png);
    background-repeat: no-repeat;
    display: block;
    height: 24px;
    width: 24px;
}
.issue-icon-Idea {
    background-image: url(images/idea-icon-16.png);
    background-repeat: no-repeat;
    display: block;
    height: 24px;
    width: 24px;
}
.dbItemContainer {
    width: 33%; float: left;
}
.switch-teams {
   
}
.current-team {
    padding:4px;
    background-color: #444444;
    display:inline-block;
     background:#E6EFF4;
    
     margin-top:4px;
     padding:2px;color:black; font-weight:bold;

     border-radius: 3px;
     padding-left:5px;
     margin-left:20px; padding-right:6px

}
.current-team:hover {
    background-color:#E5E5E5;
}
.available-teams {
    position:fixed;
    top:32px;
    left:120px;
    min-height:40px;
    background: hsl(202, 10%, 100%);
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
border-top-left-radius: 0;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 0;

}
.available-team {
     background:#E6EFF4;
     height:28px;
     margin:4px; padding:4px; 
     color:black; 
     margin-bottom:1px;  margin-top:1px; 

}
.available-team:hover{
    background: #76a7fa;
}
.available-teams a:hover{
    text-decoration:none;
    background-color:#CFE0EA;
}
.current-team-icon {
}
.switch-teams {
    display:inline-block; float:left;
}
.available-teams p {
   margin:12px;
   margin-top:4px; margin-bottom:4px;
}
.starHolder {
    float:right;
    margin-right:2px;
    position:relative;
    cursor:pointer;
}
.def-project-item
{
    font-style:italic; font-size:12px; padding-left:6px; background-color:#d5fa6b; padding-right:6px;
}
ul.db-recent-activity {
    padding:6px;
}
.activity-date {
    font-size:10px;
}
.img-team-member
{
    margin:1px; margin-right:6px;
}
.dashboard-ataglance span
{
    font-weight:bold; font-size:16px;
}
div.dashboard-ataglance {
    padding:3px;
    padding-left:6px;
}