@{
    ViewBag.Title = "Password updated";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}

<div class="signUpContainer">
<h1>Password updated.</h1>
<div class="divCenterMsg">Your password is updated.Try to <a href="@Url.Action("login","account")">login</a> with the new password now.</div>
</div>