@model TechiesWeb.TeamBins.ViewModels.TeamVM
@{
    ViewBag.Title = "Create";
}

<div class="centralHead">Add New Team</div>
<div class="divPageContent">
<div class="divForm">
    
    @using(Html.BeginForm())
    {
<table class="tblform">
    <tr>
        <th>Team Name</th>
        <td>@Html.TextBoxFor(x=>x.Name)</td>
    </tr>
>
    <tr>
        <th></th>
        <td>
            <input type="submit" value="Save" />
        </td>
    </tr>
</table>
    }
    </div>
</div>
