@model TeamBins.Common.ViewModels.DashBoardVm
<div class="dashboardItem">
    <h4>Projects</h4>
    <table>
        @foreach (var project in Model.Projects)
            {
            <tr>
                <td>@Html.ActionLink(project.Name, "index", "projects", new { id = project.Id }, null)</td>
            </tr>
        }
    </table>
</div>