@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}

<div class="signUpContainer">
<h1>Check your inbox !</h1>
<div class="divCenterMsg">We sent an email to the email address you provided with instructions to reset your password.</div>
</div>