@{
    Layout=null;
}

@model TechiesWeb.TeamBins.Models.EmailTemplate.JoinMyTeamEmail
<div style="line-height: 18px;padding: 3px 0 0 0;font-family: “Century Gothic”,Arial,Helvetica,sans-serif;color: #646363;font-size: 14px;font-weight: 400;">
<p>Hello there</p>
<p>@Model.InviterName invites you to @Model.TeamName</p>
<p>Please click on the below link to join the team</p>
<p>@Model.JoinURL</p>
<p>Regard, <br />TeamBins buddies </p>
</div>