@using System.Threading.Tasks
@{
    Layout = null;
}
@using TeamBins.Common.ViewModels
@model TeamBins.Common.ViewModels.DeleteIssueConfirmationVM
@using(Html.BeginForm("DeleteConfirm","Issues"))
{
<div class="modal-dialog">
        <div class="modal-content" style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm your action</h4>
            </div>
            <div class="modal-body">

                <table class="tblform sleek modelTblFull">
                    <tr>
                        <td>The issue will be permanently deleted and it won't be avaliable for future access. Do you still want to delete it ?</td>
                    </tr>                   
                </table>
                @Html.HiddenFor(x => x.Id)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                <button type="button" id="btnDeleteIssue" data-issuelisturl="@Url.Action("index","issues")" data-url="@Url.Content("~")/api/issue/@Model.Id/delete" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
}

