@{
    ViewBag.Title = "Welcome to team";
}
<div class="accountcreated">
    <h2>Bingo ! You made it !</h2>
    <p>Go to your <a asp-action="Index" asp-controller="Settings" target="_blank">profile settings page</a> and set a default project so that things will be easy for you.</p>
    <p>
        You may now actively participate in the activities of this team.
    </p>
    <a asp-action="Index" asp-controller="Dashboard">Take me to the dashboard</a>
</div>
