@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeamBins is confused ! </title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <p>If you like programming, instead of staring at this page, you could fix it and send a PR :)</p>
</body>
</html>