@model TechiesWeb.TeamBins.ViewModels.TeamVM
@{
    ViewBag.Title = "Edit "+Model.Name;
}

<div class="centralHead">Edit Team</div>
<ul class="breadcrumb">
  <li><a href="#">Home</a> <span class="divider">/</span></li>
  <li>@Html.ActionLink("Teams","Index") <span class="divider">/</span></li>
  <li class="active">@Model.Name</li>
</ul>

<div class="divPageContent">
<div class="divForm">
    
    @using(Html.BeginForm("Create","Team"))
    {
<table class="tblform">
    <tr>
        <th>Team Name</th>
        <td>@Html.TextBoxFor(x=>x.Name)</td>
    </tr>
    <tr>
        <th></th>
        <td>
            <button type="submit" class="btn btn-primary" >Update</button>
            <button type="submit" class="btn btn-danger deleteConfirm" >Delete</button>
        </td>
    </tr>
</table>
        @Html.HiddenFor(s=>s.ID)
    }
    </div>
</div>
