@{
    ViewBag.Title = "Index";
}
@model TechiesWeb.TeamBins.ViewModels.TeamListVM
<h2>Teams</h2>
<ul class="breadcrumb">
  <li><a href="@Url.Action("Index","Dashboard")">Home</a> <span class="divider">/</span></li> 
  <li class="active">Teams</li>
</ul>
<table  class="table">
    <tr>
        <th>Team Name</th>
        <th>Members</th>
    </tr>
@foreach(var team in Model.Teams)
{
  <tr>
      <td>@Html.ActionLink(team.Name,"View",new { id=team.ID})</td>
      <td>@team.MemberCount</td>
  </tr>  
     

}
</table>