@model TeamBins.Common.ViewModels.IssueDetailVM
<h4>{{vm.comments.length}} comments</h4> 
<div id="commentList" > 
    <div class="commentItem" ng-repeat="comment in vm.comments">          
        <img ng-src="{{comment.Author.GravatarUrl}}" />    
        <div class="commentItemBody" >
            <div class="comment-rightpart">
           
            <div class="comment-header">
                <span class="cmntAuthorName">{{comment.Author.Name}}</span>
                <span class="commentmetadata" title="">{{comment.CreatedDateRelative | date:'medium'}}</span>
                <div class="right-links">
                    <a class="comment-delete quite" ng-show="comment.IsOwner" title="Delete comment" ng-click="vm.removeComment(comment,@Model.Id,$event)" href="#">Delete</a>
                </div>
            </div>
            <div class="comment-body">
            <p ng-bind-html="comment.CommentBody"></p>
            </div>  
            </div>          
        </div>
    </div>
</div>  
@if (Model.IsEditableForCurrentUser)
{
<div id="addComment">
    <p>
        <b>Add a comment</b><br />
        <textarea id="newComment" name="newComment" rows="3" cols="100%" maxlength="2000" style="height:50px;"  ></textarea>
    </p>
    <p>
        <input type="submit" id="saveComment" value="Post" />
    </p>
</div>    
}   
    
