@model TechiesWeb.TeamBins.ViewModels.AddTeamMemberRequestVM
@{
    ViewBag.Title = "Create";
}

<div class="centralHead">Add New Member</div>
<div class="divPageContent">
<div class="divForm">
    
    @using(Html.BeginForm())
    {
<table class="tblform">
    <tr>
        <th>Email Address</th>
        <td>@Html.TextBoxFor(x=>x.EmailAddress)</td>
    </tr>   
    <tr>
        <th></th>
        <td>
            <input type="submit" value="Add" />
        </td>
    </tr>
</table>
        @Html.HiddenFor(x=>x.TeamID)
    }
    </div>
    </div>
